/* Main CSS Doc

/* Header / Top of Doc */
#buttons{
	background-color: #FBAF43;
	color: #EA1E26;
	width: 75%;
}
#buttons:hover{
	background-color: #EA1E26;
	color: white;
}
#info {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/bats-map.png');
   background-size: 100%;
}
#info:hover {
	background-image: url(images/bats-map2.png)
}
#butter {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/butter-map.png');
   background-size: 100%;
}
#butter:hover {
	background-image: url(images/butter-map2.png)
}
#frog {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/frog-map.png');
   background-size: 100%;
}
#frog:hover {
   background-image: url('images/frog-map2.png');
}
#trex {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/trex-map.png');
   background-size: 100%;
}
#trex:hover {
	background-image: url('images/trex-map2.png');
}
#ut {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/ut-map.png');
   background-size: 100%;
}
#ut:hover {
background-image: url('images/ut-map2.png');
}
#love {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/love-map.png');
   background-size: 100%;
}
#love:hover {
background-image: url('images/love-map2.png');
}
#capital {
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/capital-map.png');
   background-size: 100%;
}
#capital:hover {
background-image: url('images/capital-map2.png');
}
#street{
	width: 25%;
	float: left;
	height: 250px;
   background-image: url('images/6street-map.png');
   background-size: 100%;
}
#street:hover {
background-image: url('images/6street-map2.png');
}
	#header{
		background-color: light blue;
		width: 100%;
		height: 10%
	}
	#headrIMG{
		width: 100%;
	}
	#demo{
	}
	h4{
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		font-size: 200%;
	}
		img{
		width: 50%;
	}

/* Home Map Style */
#info-nav{
	width: 100%;
	margin-bottom: 5%;
}
	#austin-map{
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.mapIMG{
		width: 25%;
		float: left;
	}
	.mapIMG:hover{
		-webkit-filter: hue-rotate(240deg) saturate(3.3);
	}

	/* Info Page CSS */.info-header{
		height: 5%;
		width: 10%;
		float: left;
	}
	#button-side{
		background-color: white;
		width: 24%;
		height: 90%;
		float: left;
		margin-right: 2%;
	}
	#info-side{
		background-color: #5ECBF4;
		width: 72%;
		height: 90%;
		float: left;
		margin-right: 2%;
		display: none;
	}
	#buttons{
		margin: 10px;
		float: left;
		margin-left: 25%;
		margin-top: 5%;
	}
	#buttons: hover{
		background-color: light blue;
	}

	#Name{
		width: 50%;
		font-size: 50px;
		text-align: center;
		background-color: #EA1E26;
		font-family: 'Montserrat', sans-serif;
		color: white;
		float:left;
		margin-top: 6%;
		margin-left: 5%;
		margin-right: 8%;
	}
	#map{
		margin-top: 5%;
		margin-right: 5%;
		width: 300px;
		height: 300px;
	}
	#Twitter{
		width: 50%;
		background-color: white;
		float:left;
		margin-top: -5%;
		margin-left: 5%;
		margin-bottom: 5%;
	}

	#Image{
		width: 20%;
		background-color: #b2ccb9;
		float: right;
		height: 150px;
		margin-right: 6%;
		margin-bottom: 5%;
	}
	#Gallary{
		width: 30%;
		background-color: #b2ccb9;
		float: right;
		height: 150px;
		margin-right: 15%;
		margin-bottom: 3%;

	}